@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "gurmeet";
}


<h1 style="color:red">-------this is ViewBig---------</h1>
<h1>@ViewBag.text</h1>
<h1>@ViewBag.text1</h1>
<h1>@ViewBag.text2</h1>
<h1>@ViewBag.text3</h1>

<h1 style="color: blue">------- this is Viewdata---------</h1>
<h1>@ViewData["text"]</h1>
<h1>@ViewData["text1"]</h1>
<h1>@ViewData["text2"]</h1>
<h1>@ViewData["text3"]</h1>

<h1 style="color:forestgreen">------- this is tempdata---------</h1>
<h1>@TempData["text"]</h1>
<h1>@TempData["text1"]</h1>
<h1>@TempData["text2"]</h1>
<h1>@TempData["text3"]</h1>

<h1 style="color:green">------- this is Session---------</h1>

<h1>@ViewBag.se</h1>